@model BirthdaySite.ViewModels.Forum.GroupViewModel
<div class="hidden-elements">
    <div id="hidden-group">
        @Model.Name
    </div>

    <div id="hidden-author">
        @User.Identity.Name
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">@Model.Name`s group</div>
            <div class="panel-body">
                <div class="container">
                    @foreach (var message in Model.Messages)
                    {
                        <div class="row message-bubble">
                            <p class="text-muted">@message.Author</p>
                            <span>@message.Content</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<footer>

    @Html.AntiForgeryToken()
    <input id="input-message-content" type="text" name="message" />
    <button id="input-submit-button">Send</button>

    @Html.ActionLink("Back", "Index");
</footer>