@Html.ActionLink("Home", "Administration/Index", new { area = "" }, new { id = "home-nav" })
@model ICollection<BirthdaySite.ViewModels.Friends.FriendsViewModel>
<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    @Html.ActionLink("Groups&Messages", "GetAllGroupsAndMessages", "Administration")
                </a>
                <a class="navbar-item">
                    @Html.ActionLink("FriendLists&Friends", "GetAllFriendListsAndFriends", "Administration")
                </a>
                <a class="navbar-item">
                    @Html.ActionLink("Users", "GetAllUsers", "Administration")
                </a>
            </div>

        </div>
    </div>
</nav>
<!-- END NAV -->
<div class="container">
    <div class="columns">
        <div class="column is-3">
            <aside class="menu">
                <p class="menu-label">
                    General
                </p>
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    @*<li><a></a></li>*@
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a>EventsSite</a></li>
                    <li><a>Administration</a></li>
                    <li class="is-active"><a href="#" aria-current="page">FriendsLists&Friends</a></li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <h2 class="subtitle">
                            Here you can view all friendlists and friends and their details!
                        </h2>
                    </div>
                </div>
            </section>
            <div class="columns">
                <div class="column is-6">
                    <div class="card events-card">
                        <header class="card-header">
                            <p class="card-header-title">
                                FriendList&Friends
                            </p>
                            <a href="#" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="group">
                            @foreach (var fList in Model)
                            {
                                <table class="table is-fullwidth is-striped">
                                    <tbody>
                                        <tr>
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td class="name-group-admin">
                                                @fList.Name
                                                <span class="close">
                                                    X
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                foreach (var friend in fList.Friends)
                                {
                                    <div class="message-bubble">
                                        @if (friend.Gender)
                                        {
                                            <span class="author">@friend.Name: </span>@friend.Birthday <span class="gender">- Male</span>
                                        }
                                        else
                                        {
                                            <span class="author">@friend.Name: </span>@friend.Birthday<span class="gender">- Female</span>
                                        }
                                        <span class="close">
                                            X
                                        </span>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



